---
import Layout from "../layouts/Layout.astro";
import Nav from "../components/Nav.astro";
import Hero from "../components/Hero.astro";
import Features from "../components/Features.astro";
import HowItWorks from "../components/HowItWorks.astro";
import Platforms from "../components/Platforms.astro";
import Newsletter from "../components/Newsletter.astro";
import Footer from "../components/Footer.astro";
---

<Layout>
  <Nav />
  <main>
    <Hero />
    <Features />
    <HowItWorks />
    <Platforms />
    <Newsletter />
  </main>
  <Footer />
</Layout>
